@charset "UTF-8";
body {
  font-family: 'IM Fell DW Pica SC', serif;
  background: url(/img/bokeh.jpg) no-repeat 0 0;
  background-attachment: fixed;
  padding-top: 80px;
}

/* TAGLINE*/
.tagline {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  margin: 0;
  padding: .7em 0;
  text-align: center;
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: bold;
  background: #2A3E8E;
  color: rgba(255, 255, 255, 0.9);
  z-index: 2000;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

/* NAVBAR */
.navbar .nav {
  width: 100%;
  margin: 0;
}
.navbar li {
  width: 16.4%;
  text-align: center;
}
.navbar li.active a {
  text-shadow: 0 -1px 0 black;
}
.navbar li:first-child a {
  border-radius: 3px 0 0 3px;
}
.navbar li:last-child a {
  border-radius: 0 3px 3px 0;
}
.navbar a {
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  transition: all 200ms ease-in;
}
.navbar a:hover {
  background: #285f8f;
  color: white;
}

body.minotaurs a.minotaurs-link,
body.krakens a.krakens-link,
body.centaurs a.centaurs-link,
body.jackalopes a.jackalopes-link,
body.dryands a.dryands-link,
body.mermen a.mermen-link {
  background: #273A85;
  color: white;
}

/* JUMBOTRON */
.jumbotron {
  text-align: center;
  background: rgba(245, 234, 248, 0.5);
  font-size: 24px;
  padding: 15px 0;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 1em;
  line-height: 1.3;
}
.jumbotron .btn {
  font-size: 21px;
  padding: .5em 24px;
  box-shadow: 0 3px 0 #1c411c;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: all 100ms ease-in;
}
.jumbotron .btn:active {
  top: 3px;
}

/* CREATURES */
.creatures a {
  opacity: .85;
}
.creatures a:hover {
  opacity: 1;
}

.creature {
  position: relative;
}
.creature.active a {
  opacity: 1;
}
.creature.active .glyphicon {
  position: absolute;
  top: 70px;
  left: 110px;
  color: white;
  font-size: 120px;
}

/* FORM */
.checkout {
  background: rgba(208, 237, 245, 0.5);
  padding: 2em 0;
  text-transform: uppercase;
}
.checkout .control-label {
  font-size: 14px;
  text-align: left;
  padding-left: 0;
}
.checkout .btn {
  text-transform: uppercase;
}

.about input, .spell textarea {
  margin-bottom: .5em;
  background: none;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  box-shadow: none;
}
.about input:focus, .spell textarea:focus {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: none;
}

.about {
  margin-bottom: 1em;
}

.accessories input, .currency input {
  display: none;
}
.accessories label, .currency label {
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  color: #555;
  transition: all 300ms ease;
}
.accessories label i, .currency label i {
  position: relative;
  top: 2px;
  margin-right: 4px;
}
.accessories input:checked + span, .currency input:checked + span {
  color: black;
  border-bottom: 1px solid #999;
}
.accessories input:checked + span:before, .currency input:checked + span:before {
  content: "✓ ";
  font-weight: bold;
}

.spell textarea {
  margin-bottom: 1em;
  height: 6em;
}
